<div>
  <h1>
    <%= session.fetch(:user_name).upcase %>'s bookmarks
  </h1>
</div>

<div>
    <form action="/insert_bookmark" method="post">
    <select name="query_movie_id" id="movie_id_box">
      <% Movie.all.each do |a_movie| %>
        <% if Bookmark.exists?(movie_id: a_movie.id) %>
        <% else %>
          <option value="<%= a_movie.id%>">
            <%= a_movie.title%>
          </option>
        <% end %>
      <% end %>
    </select>
      <button>
        Bookmark this movie!
      </button>
    </form>
</div>

<hr>

<div>
  <div>
    <table class="table" border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Movie
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_bookmarks.each do |a_bookmark| %>
      <tr>
        <td>
          <%= a_bookmark.id %>
        </td>

        <td>
          <%= a_bookmark.user.user_name %>
        </td>

        <td>
          <%= a_bookmark.movie.title %>
        </td>

        <td>
          <%= time_ago_in_words(a_bookmark.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_bookmark.updated_at) %> ago
        </td>

        <td>
          <a href="/bookmarks/<%= a_bookmark.id %>">
            Show details
          </a>
        </td>
        <td>
          <a href="/delete_bookmark/<%= a_bookmark.id %>">
            Un-bookmark
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
